* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: url(../img/background2.png) no-repeat;
    background-size: cover;
    height: 100vh;
}


.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    z-index: 1;
    margin-top: -100vh;
}

/* Estilos para dispositivos móviles pequeños (320px) */
@media only screen and (min-width: 320px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Estilos para dispositivos móviles más grandes y tablets pequeñas (480px) */
  @media only screen and (min-width: 480px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Estilos para tablets y dispositivos móviles de mayor tamaño (768px) */
  @media only screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }
  
  /* Estilos para pantallas de escritorio pequeñas y laptops (992px) */
  @media only screen and (min-width: 992px) {
    body {
      font-size: 20px;
    }
  }
  
  /* Estilos para pantallas de escritorio más grandes y laptops de alta resolución (1200px) */
  @media only screen and (min-width: 1280px) {
    .about_me{
        margin-bottom: -10rem;
        margin-right: 6rem;
        padding: 4rem, 4rem;
        position: absolute;
    }
    
    
    .about_me p{
        color: aliceblue;
        font-size: 25px;
        margin: 4rem 10rem;
        line-height: 45px;
    }

    .about_me h3{
        color: #8AD47E;
        font-size: 25px;
        writing-mode: vertical-lr;
        position: absolute;
        right: 3rem;
        margin-top: 7rem;
        text-transform: capitalize;
        text-decoration: underline;
        line-height: 35px;
        
    }
  }
  @media only screen and (min-width: 1440px) {
    .about_me{
        margin-bottom: -10rem;
        margin-right: 6rem;
        padding: 4rem, 4rem;
        position: absolute;
    }
    
    
    .about_me p{
        color: aliceblue;
        font-size: 25px;
        margin: 4rem 10rem;
        line-height: 45px;
    }

    .about_me h3{
        color: #8AD47E;
        font-size: 25px;
        writing-mode: vertical-lr;
        position: absolute;
        right: 3rem;
        margin-top: 7rem;
        text-transform: capitalize;
        text-decoration: underline;
        line-height: 35px;
        
    }
  }
  