* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: url(../img/background2.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

/*======================================Burguer-Menu========================================*/
.hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 25px;
  }
  
  .hamburger .-top,
  .hamburger .-mid,
  .hamburger .-bottom {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .hamburger .-top {
    top: 0;
  }
  
  .hamburger .-mid {
    top: 10px;
  }
  
  .hamburger .-bottom {
    bottom: 0;
  }
  
  .hamburger.is-active .-top {
    transform: rotate(45deg);
    top: 50%;
  }
  
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  
  .hamburger.is-active .-bottom {
    transform: rotate(-45deg);
    bottom: 50%;
  }

  
  
  .box_3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 27rem;
    transform: translateY(-100%);
    transition: all 0.3s ease;
  }
  
  .box_3.is_active {
    transform: translateY(0);
    z-index: 1;
  }
  
 
  
  .box_3 h5 {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .box_3 h5 a {
    color: #ffffff;
    text-decoration: none;
  }
/*======================================Burguer-Menu========================================*/

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    margin-top: -100vh;
}

.container img {
    position: fixed;
    width: 70%;
    height: 70%;
    object-fit: contain;
    
    
}

.box_1{
    justify-content: flex-start;
    margin-right: 25rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
}



.box_2{
    justify-content: flex-start;
    margin-right: 10rem;
    margin-top:-8rem;
    
}


.container h2 {
    display: flex;
    z-index: 1;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 25px;
    padding-top: 35px;
}


.container h3 {
    display: flex;
    z-index: 1;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 25px;
    line-height: 70px;
}

.container h5 {
    display: flex;
    z-index: 1;
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 25px;
    line-height: 70px;
    cursor: pointer;
    text-decoration: none;
}


#obj_1{
    margin-top: 7rem;
}

#obj_2{
    margin-bottom: -3rem;
}


#particles-js {
    width: 100%;
    height: 100%;
}

@media(max-width: 800px){
    
    .container h2 {
        font-size: 50px;
        letter-spacing: 15px;
        line-height: 25px;
        flex-wrap: wrap;
        text-justify: center;
        margin-left: 1rem;
    }

    .container h3 {
        font-size: 20px;
        letter-spacing: 25px;
        line-height: 40px;
        flex-wrap: wrap;
        text-justify: center;
        white-space: 10rem;
        margin-top: 2rem;
        margin-left: 1rem;
        
    }

    .container h5 {
        display: flex;
        z-index: 1;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 25px;
        line-height: 70px;
        cursor: pointer;
        margin-left: 1rem;
    }

    

    .container img {
        position: absolute;
        width: 70%;
        height: 70%;
        object-fit: contain;
        flex-wrap: wrap;
        margin-top: 9.2rem;
    }

    .box_1{
        justify-content: flex-start;
        margin-right: 7.8rem;
        margin-top: 5rem;
        margin-bottom: -2rem;
    }
    
    .box_2{
        justify-content: flex-start;
        margin-right: 15rem;
        
    }
    
    

}

@media(max-width: 450px) {
    .container h2 {
        font-size: 25px;
        letter-spacing: 15px;
        line-height: 20px;
        flex-wrap: wrap;
        text-justify: center;
        margin-left: 2rem;
    }

    .container h3 {
        font-size: 17px;
        letter-spacing: 15px;
        line-height: 40px;
        flex-wrap: wrap;
        text-justify: center;
        white-space: 10rem;
        margin-top: 2rem;
        margin-left: 2rem;
        
    }

    .container h5 {
        display: flex;
        z-index: 1;
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: 50px;
        cursor: pointer;
        margin-left: 2rem;
    }
    
    
    #obj_1{
        margin-top: 7rem;
    }
    
    #obj_2{
        margin-bottom: -3rem;
    }
    

    .container img {
        position: absolute;
        width: 70%;
        height: 70%;
        object-fit: contain;
        flex-wrap: wrap;
        margin-top: 10.5rem;
    }

    .box_1{
        justify-content: flex-start;
        margin-right: 7.8rem;
        margin-top: 5rem;
        margin-bottom: -2rem;
    }
    
    .box_2{
        justify-content: flex-start;
        margin-right: 15rem;
        
    }
    
    

}